body{
    background: url("../img/cubes.png");
}

.main {
    background: #ffffff;
    margin-top: 35px;
    padding: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -box-shadow: 0 1px 3px rgba(0,0,0,.13);
    width: 72%;
    min-height: 500px;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding:25px;
    webkit-box-shadow:inset 2px 2px 2px 5px #82767A;
    box-shadow:inset 2px 2px 2px 5px #82767A;


}

.calendar {
    border: 1px solid red;
    height: 30px;
}