{% extends 'home/index.html.twig' %}



{% block container %}

    <div class="row">
        <div class="col-md-12">
            <h1>Piezas por leer</h1>
            <form action="get-piezas-lote" method="POST" id="nro_lote" role="form">
                <div class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <select required class="form-control" name="lote">
                            <option disabled selected value="">Lote</option>
                            {% for lote in lotes %}
                                <option value="{{ lote.lote }}">{{ lote.lote }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" id="leer">
                        <span>Leer</span>
                    </button>
                </div>
            </form>
        </div>
    </div>


{% endblock container %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/leer_piezas/js/leer_piezas.js') }}"></script>

{% endblock %}