{% extends 'home/index.html.twig' %}
{% block container %}
    
    <div class="row">
        <div class="col-md-12">
            <h1>Piezas por leer</h1>
            <form method="POST" id="pieza_form" role="form">
                <div class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" id="pieza"/>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock container %}
