{% extends 'home/index.html.twig' %}



{% block container %}

    <div class="row" id="bajar">
        <div class="col-md-12">
            <h1>Bajar PI</h1>
            <form method="POST" id="bajar_pi" role="form">
                <div class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <select required class="form-control" id="shipper">
                            <option disabled selected value="">Shipper</option>
                            <option value="671">671</option>
                            <option value="1861">1861</option>
                        </select>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input required type="text" class="datepicker form-control" value="{{ "now" | date("d-m-Y") }}" id="fecha" readonly>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" id="consultar">
                        <span>Consultar</span>
                    </button>
                </div>
            </form>
        </div>
    </div>


{% endblock container %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bajar_pi/js/bajar_pi.js') }}"></script>

{% endblock %}
